@font-face {
	src: url('../font/Roboto-Bold.woff');
	src: url('../font/Roboto-Regular.woff');
	font-family: 'Roboto';
}

body {
	background: url('../img/background.png') no-repeat fixed;
	background-size: cover;
	main {
		padding: 10% 20%;
		font-family: 'Roboto', sans-serif;
	}
}

@import 'modules/yo';
@import 'modules/coins';
@import 'modules/media';
